{% extends 'bikes.html' %}

{% block content %}
<div class="biseller-info">
<h3 class="new-models">Article Title</h3>
    <hr id="flexiselDemo3">
        <div class="">
            <div class="title" style="text-align: center;color: #0f0f0f;font-family: 华文行楷"><h1>{{ content_.title }}</h1></div><br>
            <div class="article" style="font-size:18px;color: #0f0f0f;line-height: 30px;font-family: 楷体">
                &nbsp;&nbsp;&nbsp;&nbsp;
                {{ content_.content }}<hr>
            </div>
        </div>

</div>
{% endblock %}