{% load  staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>购物车</title>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1200);
            });
        });

        function go_pay() {
            //获取所有已勾选商品的id
            let cks =$('tbody>tr>td>input[type="checkbox"]')
            let ids = ''
            for(let i=0;i< cks.length; i++){
                if(cks[i].checked){
                    ids = ids+cks[i].value+','
                }
            }
            alert('所有勾选的商品id:' + ids);
            // 后端接口
            window.open('/cart/go_pay/?ids='+ids, target='_self');

        }

        // checkbox_node是DOM对象(Checkbox对象)
        function count_price(checkbox_node) {
            let price_id = '#price_' + checkbox_node.value;
            let cnt_id = '#cnt_' + checkbox_node.value;

            let price = parseFloat($(price_id).text())  // NaN
            let cnt = parseInt($(cnt_id).text());

            return price * cnt;
        }

        function count_total_price(checkbox_node, cprice) {
            let total_price = parseFloat($('#total_price').text());
            if (checkbox_node.checked) {
                $('#total_price').text(total_price + cprice);
            } else {
                $('#total_price').text(total_price - cprice);
            }
        }

        $(function () {
            // 获取当前文档下的所有checkbox，并设置选择事件
            $('input[type="checkbox"]').on('change', function (ev) {
                let node = $(this);
                if (node[0].id == 'c_all') {
                    checkboxes = $('tbody>tr>td>input[type="checkbox"]');
                    for (let i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked != node[0].checked) {

                            //改变全选或取消全选的状态
                            checkboxes[i].checked = node[0].checked;

                            //统计小计和总金额
                            count_total_price(checkboxes[i],
                                count_price(checkboxes[i]))
                        }
                    }
                    return;
                }

                count_total_price(node[0], count_price(node[0]));

                if(! node[0].checked){
                    $('#c_all')[0].checked=false;
                }
            })
        });

        function del_cart(goods_id) {
            let node = $('#c_'+goods_id);
            let td = node[0].parentElement;
            if(! confirm("是否确认移除 "+td.nextElementSibling.textContent+" ?")){
                return;
            }


            let cprice = count_price(node[0]);

            if(node[0].checked) {
                node[0].checked = false;
                count_total_price(node[0], cprice);
            }

            // 删除此行
            let tr_element = node[0].parentElement.parentElement;
            tr_element.parentElement.removeChild(tr_element);

            //请求后台接口(url), 从购物车中删除商品
            url = '/cart/del/'+goods_id+"/"
            $.getJSON(url ,function (data) {
                if(data.code == 200){
                    alert(data.msg);
                }
            })
        }
    </script>

</head>
<body>
    <!-- header-section-starts -->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="header-left">
                <p>For life , For health</p>
            </div>
            <div class="login-section">
                <ul style="color: #0f0f0f">
                <li class="cart"><span class="glyphicon glyphicon-shopping-cart" style=""></span><span><a href="{% url 'cart:go_cart' %}">购物车</a></span>
                <span id="cart_cnt"
                              style="{% if not request.session.cart_cnt %}display:none{% endif %}">{{ request.session.cart_cnt }}</span>
                    {% if request.session.user_login %}
                        <li><a style="color: #0f0f0f">用户名：{{ request.session.user_login }}</a></li> |
                        <li><a href="{% url 'user:logout' %}" style="color: #0f0f0f">退出登录</a></li>
                    {% else %}
                        <li><a href="{% url 'user:login' %}" style="color: #0f0f0f">登录</a></li> |
                        <li><a href="{% url 'user:register' %}" style="color: #0f0f0f">注册</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- start search-->
            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                               name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
                </div>
            </div>
            <!-- search-scripts -->
            <script src="{% static 'js/classie.js' %}"></script>
            <script src="{% static 'js/uisearch.js' %}"></script>
            <script>
                new UISearch(document.getElementById('sb-search'));
            </script>
            <!-- //search-scripts -->
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><h1>sporty</h1></a>
            </div>
            <div class="header_bottom_right">
                <!-- start h_menu4 -->
                <div class="h_menu4">
                    <a class="toggleMenu" href="">Menu</a>
                    <ul class="nav">
                        <li class="active"><a href="/">首页</a></li>
                        <li><a href="{% url 'goods:showall' 1 %}" class="root">健身器材</a>
                            <ul>
                                {% for cate in cates %}
                                    <li><a href="{% url 'goods:showall' cate.id %}">{{ cate.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'show:articles' %}">文章</a>
                            <ul>
                                {% for title in essaies %}
                                    {% if title.id <= 4 %}
                                        <li><a href="{% url 'show:content' title.id %}">{{ title.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        <li><a href="{% url 'show:classes' %}">课程</a>
                            <ul>
                                {% for c in all_class %}
                                    {% if c.id <= 4 %}
                                        <li><a href="{% url 'show:classdetail' c.id %}">{{ c.name }}</a> </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </li>
                        <li><a>我的</a>
                            <ul>
                                <li><a {% if request.session.user_login %}
                                    href="{% url 'cart:go_cart' %}"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>购物车</a></li>
                                <li><a {% if request.session.user_login %}
                                    href="/user/address/{{ request.session.user_login }}/"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>我的收货地址</a></li>
                                <li><a {% if request.session.user_login %}
                                    href="{% url 'order:test' %}"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>我的订单</a></li>
                            </ul>
                        </li>
                    </ul>
                    <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
                </div>
                <!-- end h_menu4 -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
    <table class="table">
        <thead>
             <tr>
                <th>
                    <input type="checkbox" id="c_all">
                </th>
                <th>商 品 名</th>
                <th>单 价 (元)</th>
                <th>数 量</th>
                <th style="width:200px;">操 作</th>
            </tr>
        </thead>
            <tbody>
            {% if goods_list %}

                {% for goods, cnt in goods_list %}
                    <tr>
                        <td>
                            <input type="checkbox"
                                   id="c_{{ goods.id }}"
                                   value="{{ goods.id }}">
                        </td>
                        <td>{{ goods.name }}</td>
                        <td>￥ <span id="price_{{ goods.id }}">{{ goods.price }}</span></td>
                        <td><a class="btn btn-info btn-sm">-</a><span id="cnt_{{ goods.id }}">{{ cnt }}</span><a
                                class="btn btn-info btn-sm">+</a></td>
                        <td>
                            <a class="btn btn-danger" onclick="del_cart({{ goods.id }})">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tr>
                    <td colspan="5" align="right" style="padding-right: 100px">
                        <span style="padding-right: 10px;"><b>总金额:</b> ￥</span> <span id="total_price">0</span>
                        <a class="btn btn-primary" style="margin-left:300px;" href="{% url 'order:test' %}" onclick="go_pay()">结算</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" align="center">
                        <h4>暂无商品,<a style="color: blue; font-size: 1.5em" href="{% url 'goods:showall' 2 %}">去选购吧</a></h4>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
<div class="footer" style="padding: 90px;margin-top: 400px">
    <div class="container">
        <div class="col-md-3 shop">
            <h3>shop</h3>
            <ul>
                <li><a href="#">new arrivals</a></li>
                <li><a href="#">men</a></li>
                <li><a href="#">accessories</a></li>
                <li><a href="#">kids</a></li>
                <li><a href="#">brands</a></li>
                <li><a href="#">trends</a></li>
                <li><a href="#">sale</a></li>
                <li><a href="#">style videos</a></li>
            </ul>
        </div>
        <div class="col-md-3 shop">
            <h3>help</h3>
            <ul>
                <li><a href="#">frequently asked questions</a></li>
                <li><a href="#">women</a></li>
                <li><a href="#">style videos</a></li>
                <li><a href="#">sale</a></li>
                <li><a href="#">trends</a></li>
                <li><a href="#">style videos</a></li>
            </ul>
        </div>
        <div class="col-md-3 shop">
            <h3>account</h3>
            <ul>
                <li><a href="#">my sports</a></li>
                <li><a href="#">my orders</a></li>
                <li><a href="#">my shopping bag</a></li>
                <li><a href="#">my wishlist</a></li>
            </ul>
        </div>
        <div class="col-md-3 shop">
            <h3>popular</h3>
            <ul>
                <li><a href="#">accessories</a></li>
                <li><a href="#">brands</a></li>
                <li><a href="#">frequently asked questions</a></li>
                <li><a href="#">style videos</a></li>
                <li><a href="#">women</a></li>
                <li><a href="#">my orders</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="copy-rights">
            <p>Copyright &copy; 2018.Three hours only . - For life , For health </p>
        </div>
    </div>
</div>
<!-- footer-section-ends -->
</body>
</html>