{% extends 'bikes.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript">

    function order() {
        document.getElementById('oimg').style.display = 'block';
    }

</script>
	<h3 class="common_title">确认收货地址</h3>
	<div class="common_list_con clearfix">
		<dl>
			<dt style="font-size: 20px;">寄送到：</dt>
            {% for addr in address_list %}
			<dd style="margin-left: 50px;margin-top: 20px;font-size: 17px"><input type="radio" name="addr_id" value="{{ addr.id }}" {% if addr.is_default %}checked{% endif %}>{{ addr.addr }} （{{ addr.receiver }} 收） {{ addr.phone }}</dd>
		    {% endfor %}
        </dl>
		<a href="{% url 'user:add' request.session.user_login %}" class="edit_site"><span class="btn btn-default" style="margin-left: 30%">添加收货地址</span></a>

	</div>

	<h3 class="common_title" style="margin-top: 20px">支付方式</h3>
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" value="1" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style" value="2">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style" value="3">
			<label class="zhifubao">支付宝支付</label>
			<input type="radio" name="pay_style" value="4">
			<label class="bank">银行卡支付</label>
		</div>
	</div>


	<h3 class="common_title" style="margin-top: 25px">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
            <div class="total_goods_count"><span style="font-size: 15px">您购买的商品总金额为 </span> <span style="background-color: #fff;color: palevioletred;font-size: 3em">$  {{ total_price }}</span>元</div>

		</div>
	</div>

	<div class="order_submit clearfix">
        {% csrf_token %}
		<div>
            <input type="button" id="order_btn" value="支付" onclick="order()" style="margin-top: 20px;margin-left: 20px"></div>

	</div>
    <div><img src="{% static 'images/20181027163754.jpg' %}" id="oimg" style="display:none;width: 250px;height: 250px;float: right;position: center"></div>



{% endblock %}
