<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<title>Register</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>

</head>
<body>
    <!-- header-section-starts -->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="header-left">
					<p>For life , For health</p>
				</div>
				<div class="login-section">
					<ul>
						<li><a href="{% url 'user:login' %}">Login</a>  </li> |
						<li><a href="{% url 'user:register' %}">Register</a> </li>
					</ul>
				</div>
				<!-- start search-->
				    <div class="search-box">
					    <div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
				    </div>
					<!-- search-scripts -->
					<script src="{% static 'js/classie.js' %}"></script>
					<script src="{% static 'js/uisearch.js' %}"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="logo">
					<a href="index.html"><h1>sporty</h1></a>
				</div>
				<div class="header_bottom_right">
					<div class="h_menu4"><!-- start h_menu4 -->
					<a class="toggleMenu" href="#">Menu</a>
					<ul class="nav">
						<li class="active"><a href="/">首页</a></li>
                        <li><a href="" class="root">健身器材</a>
                            <ul>
                                {% for cate in cates %}
                                    <li><a href="{% url 'goods:showall' cate.id %}">{{ cate.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'show:articles' %}">文章</a>
                            <ul>
                                {% for title in essaies %}
                                    {% if title.id <= 4 %}
                                        <li><a href="{% url 'show:content' title.id %}">{{ title.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
						<li><a href="{% url 'show:classes' %}">课程</a>
                            <ul>
                                {% for c in all_class %}
                                    {% if c.id <= 4 %}
                                        <li><a href="{% url 'show:classdetail' c.id %}">{{ c.name }}</a> </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </li>
							<li><a>我的</a>
                            <ul>
                                <li><a {% if request.session.user_login %}
                                    href="{% url 'cart:go_cart' %}"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>购物车</a></li>
                                <li><a {% if request.session.user_login %}
                                    href="/user/address/{{ request.session.user_login }}/"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>我的收货地址</a></li>
                                <li><a {% if request.session.user_login %}
                                    href="{% url 'order:test' %}"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>我的订单</a></li>
                            </ul>
                        </li>
						</ul>
						<script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
				</div>
				<!-- end h_menu4 -->
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="content">
		
		<div class="dreamcrub" style="margin-bottom: 0px">
		<div class="container">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page"><img src="{% static 'images/home.png' %}" alt=""/></a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li style="font-size: 2rem">
                       register
                    </li>
                </ul>
                <ul class="previous">
                	<li style="font-size: 2rem"><a href="index.html">Back to Previous Page</a></li>
                </ul>
{#                <div class="clearfix"></div>#}
			   </div>
			   </div>
			   <div class="container">
{#		<div class="main-register-form">#}
		  <div class="register" style="background-color: #f5e79e">
				 <div class="register-top-grid" >
					<h3 style="align-content: center;font-size: 4rem" align="center">Welcome To Register</h3>
                 </div>
                     <form method="post">
                        {% csrf_token %}

					 <div align="center">
						<span style="font-size:2rem;">UserName<label>*</label></span><br/>
						<input type="text" name="username" placeholder="username">
					 </div>
                        <br/><br/>
                     <div align="center">
                             <span>Password<label>*</label></span><br/>
                             <input type="password" name="password" placeholder="password">
                     </div>
                     <br/><br/>
                     <div align="center">
                             <span>RePassword<label>*</label></span><br/>
                             <input type="password" name="repassword" placeholder="repassword">
                     </div>
                     <br/><br/>
					 <div align="center">
						 <span>Email<label>*</label></span><br/>
						 <input type="text" name="email" placeholder="email">
					 </div>
                     <br/><br/>
{#					 <div class="clearfix"> </div>#}
{#					   <a class="news-letter" href="#">#}
{#						 <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Sign Up for Newsletter</label>#}
{#					   </a>#}
{#					 </div>#}
{#				     <div class="register-bottom-grid">#}
{#						    <h3>LOGIN INFORMATION</h3>#}

{#					 </div>#}
{#				</form>#}
				<div class="clearfix"> </div>
				<div class="register-but" align="center">
					   <input type="submit" value="register">
					   <div class="clearfix"> </div>
                </div>
              </form>
            <h3 style="color: red">{{ errormsg }}</h3>
{#		   </div>#}
	    </div>
</div>
		</div>
	</div>
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer"> 
		<div class="container">
			<div class="col-md-3 shop">
				<h3>shop</h3>
				<ul>
					<li><a href="#">new arrivals</a></li>
					<li><a href="#">men</a></li>
					<li><a href="#">accessories</a></li>
					<li><a href="#">kids</a></li>
					<li><a href="#">brands</a></li>
					<li><a href="#">trends</a></li>
					<li><a href="#">sale</a></li>
					<li><a href="#">style videos</a></li>
				</ul>
			</div>
			<div class="col-md-3 shop">
				<h3>help</h3>
				<ul>
					<li><a href="#">frequently asked questions</a></li>
					<li><a href="#">women</a></li>
					<li><a href="#">style videos</a></li>
					<li><a href="#">sale</a></li>
					<li><a href="#">trends</a></li>
					<li><a href="#">style videos</a></li>
				</ul>
			</div>
			<div class="col-md-3 shop">
				<h3>account</h3>
				<ul>
					<li><a href="#">my sports</a></li>
					<li><a href="#">my orders</a></li>
					<li><a href="#">my shopping bag</a></li>
					<li><a href="#">my wishlist</a></li>
				</ul>
			</div>
			<div class="col-md-3 shop">
				<h3>popular</h3>
				<ul>
					<li><a href="#">accessories</a></li>
					<li><a href="#">brands</a></li>
					<li><a href="#">frequently asked questions</a></li>
					<li><a href="#">style videos</a></li>
					<li><a href="#">women</a></li>
					<li><a href="#">my orders</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="copy-rights">
                <p>Copyright &copy; 2018.Three hours only . - For life , For health </p>
			</div>
		</div>
	</div>
	<!-- footer-section-ends -->
</body>
</html>