{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/etalage.css' %}">
    <script src="{% static 'js/jquery.etalage.min.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 800,
                source_image_height: 1000,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
    <script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
</head>
<body>
<!-- header-section-starts -->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="header-left">
                <p>For life , For health</p>
            </div>
            <div class="login-section">
                <ul style="color: #0f0f0f">
                    {% if request.session.user_login %}
                        <li><a style="color: #0f0f0f">用户名：{{ request.session.user_login }}</a></li> |
                        <li><a href="{% url 'user:logout' %}" style="color: #0f0f0f">退出登录</a></li>
                    {% else %}
                        <li><a href="{% url 'user:login' %}" style="color: #0f0f0f">登录</a></li> |
                        <li><a href="{% url 'user:register' %}" style="color: #0f0f0f">注册</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- start search-->
            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                               name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
                </div>
            </div>
            <!-- search-scripts -->
            <script src="{% static 'js/classie.js' %}"></script>
            <script src="{% static 'js/uisearch.js' %}"></script>
            <script>
                new UISearch(document.getElementById('sb-search'));
            </script>
            <!-- //search-scripts -->
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><h1>sporty</h1></a>
            </div>
            <div class="header_bottom_right">
                <div class="h_menu4">
                    <a class="toggleMenu" href="">Menu</a>
                    <ul class="nav">
                        <li class="active"><a href="/">首页</a></li>
                        <li><a href="" class="root">健身器材</a>
                            <ul>
                                {% for cate in cates %}
                                    <li><a href="{% url 'goods:showall' cate.id %}">{{ cate.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'show:articles' %}">文章</a>
                            <ul>
                                {% for title in essaies %}
                                    {% if title.id <= 4 %}
                                        <li><a href="{% url 'show:content' title.id %}">{{ title.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        <li><a href="{% url 'show:classes' %}">课程</a>
                            <ul>
                                {% for c in all_class %}
                                    {% if c.id <= 4 %}
                                        <li><a href="{% url 'show:classdetail' c.id %}">{{ c.name }}</a> </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </li>
                        <li><a>我的</a>
                            <ul>
                                <li><a {% if request.session.user_login %}
                                    href="#"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>我的账户</a></li>
                                <li><a {% if request.session.user_login %}
                                    href="/user/address/{{ request.session.user_login }}/"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>我的收货地址</a></li>
                                <li><a {% if request.session.user_login %}
                                    href="#"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>我的订单</a></li>
                            </ul>
                        </li>
                    </ul>
                    <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
                </div>
                <!-- end h_menu4 -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- header-section-ends -->
<!-- content-section-starts -->
<!-- content -->
<div class="dreamcrub">
    <div class="container">
        <ul class="breadcrumbs">

            <li class="home">
                <a href="/" title="Go to Home Page"><img src="{% static 'images/home.png' %}" alt=""/></a>&nbsp;
                <span>&gt;</span>
            </li>
            <li>
                {{ product.name }}
            </li>&nbsp;
            <span>&gt;</span>
            <li>详情</li>
        </ul>
        <ul class="previous">
            <li><a href="/">回到首页</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- start content -->
<div class="women_main">
    <div class="container">

        <div class="row single">
            <div class="col-md-9 span-single">
                <div class="single_left">
                    <div class="grid images_3_of_2">
                        <ul id="etalage">
                            {% for bimg in bimg_list %}
                                <li>
                                    <a href="optionallink.html">
                                        <img class="etalage_thumb_image" src="{{ bimg }}" class="img-responsive"/>
                                        <img class="etalage_source_image" src="{{ bimg }}" class="img-responsive"
                                             title=""/>
                                    </a>
                                </li>
                            {% endfor %}
                            {#
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="desc1 span_3_of_2">
                        <h3>{{ product.name }}</h3>
                        <p>$ {{ product.price }} <a href="#"></a></p>
                        <div class="det_nav">
                            <h4>different products :</h4>
                            <ul>
                                {% for pro in diff_goods_all %}
                                    <li><a href="{% url 'goods:detail' pro.id %}"><img
                                            src="{{ pro.image }}" class="img-responsive" alt=""/></a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="filter-by-color">
                            <h3>Filter by Color</h3>
                            <ul class="w_nav2">
                                <li><a class="color1" href="#"></a></li>
                                <li><a class="color2" href="#"></a></li>
                                <li><a class="color3" href="#"></a></li>
                                <li><a class="color4" href="#"></a></li>
                                <li><a class="color5" href="#"></a></li>
                                <li><a class="color10" href="#"></a></li>
                                <li><a class="color7" href="#"></a></li>
                                <li><a class="color8" href="#"></a></li>
                                <li><a class="color9" href="#"></a></li>
                                <li><a class="color10" href="#"></a></li>
                                <li><a class="color6" href="#"></a></li>
                                <li><a class="color13" href="#"></a></li>
                                <li><a class="color14" href="#"></a></li>
                                <li><a class="color15" href="#"></a></li>
                                <li><a class="color16" href="#"></a></li>
                                <li><a class="color17" href="#"></a></li>
                                <li><a class="color1" href="#"></a></li>
                                <li><a class="color3" href="#"></a></li>
                                <li><a class="color2" href="#"></a></li>
                            </ul>

                        </div>
                        <div class="btn_form">
                            <a href="single.html">购买</a>
                        </div>
                        {#					<a href="#"><span>login to save in wishlist </span></a>#}

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="single-bottom1">
                    <h6>详情：</h6>
                    <p class="prod-desc">{{ product.desc }}</p>
                </div>
                <div class="single-bottom2">
                    <h6>相关产品</h6>
                {% for diffpro in diff_goods_all1 %}
                    <div class="product">
                        <div class="product-desc">
                            <div class="product-img">
                                <img src="{{ diffpro.image }}" class="img-responsive " alt=""/>
                            </div>
                            <div class="prod1-desc">
                                <h5><a class="product_link" href="{% url 'goods:detail' diffpro.id %}">{{ diffpro.name }}</a></h5>
                                <p class="product_descr"> {{ diffpro.desc }} </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="product_price">
                            <span class="price-access">${{ diffpro.price }}</span>
                            <button class="button1"><span>Add to cart</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endfor %}

                </div>
            </div>


            <!-- end content -->
            <div class="shipping">
                <div class="container">
                    <div class="shipping-section-grid">
                        <div class="col-md-7 shipping-left-grid">
                            <h3>free shipping</h3>
                            <div class="icon">
                                <img src="{% static 'images/shipping-icon.png' %}" alt=""/>
                            </div>
                            <div class="icon-text">
                                <p>　　以质量求生存，以信誉促发展。坚持团结稳定，齐心协力干事业。我与公司荣辱与共，公司与我共同发展。</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            <!-- content-section-ends -->
            <!-- footer-section-starts -->
            <div class="footer">
                <div class="container">
                    <div class="col-md-3 shop">
                        <h3>shop</h3>
                        <ul>
                            <li><a href="#">new arrivals</a></li>
                            <li><a href="#">men</a></li>
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">brands</a></li>
                            <li><a href="#">trends</a></li>
                            <li><a href="#">sale</a></li>
                            <li><a href="#">style videos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 shop">
                        <h3>help</h3>
                        <ul>
                            <li><a href="#">frequently asked questions</a></li>
                            <li><a href="#">women</a></li>
                            <li><a href="#">style videos</a></li>
                            <li><a href="#">sale</a></li>
                            <li><a href="#">trends</a></li>
                            <li><a href="#">style videos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 shop">
                        <h3>account</h3>
                        <ul>
                            <li><a href="#">my sports</a></li>
                            <li><a href="#">my orders</a></li>
                            <li><a href="#">my shopping bag</a></li>
                            <li><a href="#">my wishlist</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 shop">
                        <h3>popular</h3>
                        <ul>
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">brands</a></li>
                            <li><a href="#">frequently asked questions</a></li>
                            <li><a href="#">style videos</a></li>
                            <li><a href="#">women</a></li>
                            <li><a href="#">my orders</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="copy-rights">
                        <p>Copyright &copy; 2018.Three hours only . - For life , For health</p>
                    </div>
                </div>
            </div>
            <!-- footer-section-ends -->
</body>
</html>