<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<title>add</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>

</head>
<body>
    <!-- header-section-starts -->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="header-left">
					<p>For life , For health</p>
				</div>
				<div class="login-section">
					<ul style="color: #0f0f0f">
                    <li class="cart"><span class="glyphicon glyphicon-shopping-cart" style=""></span><span><a
                            href="{% url 'cart:go_cart' %}">购物车</a></span>
                        <span id="cart_cnt"
                              style="{% if not request.session.cart_cnt %}display:none{% endif %}">{{ request.session.cart_cnt }}</span>
                    </li>
                    {% if request.session.user_login %}
						<li><a style="color: #0f0f0f">用户名：{{ request.session.user_login }}</a>  </li> |
						<li><a href="{% url 'user:logout' %}" style="color: #0f0f0f">退出登录</a> </li>
                        {% else %}
						<li><a href="{% url 'user:login' %}" style="color: #0f0f0f">登录</a>  </li> |
						<li><a href="{% url 'user:register' %}" style="color: #0f0f0f">注册</a> </li>
                    {% endif %}
                </ul>
				</div>
			<!-- start search-->
			    <div class="search-box">
				    <div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
						</form>
					</div>
			    </div>
				<!-- search-scripts -->
				<script src="{% static 'js/classie.js' %}"></script>
				<script src="{% static 'js/uisearch.js' %}"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="bottom-header">
		<div class="container">
			<div class="logo">
				<a href="index.html"><h1>sporty</h1></a>
			</div>
			<div class="header_bottom_right">
				<div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li class="active"><a href="/">首页</a></li>
					<li><a href="../static/products.html" class="root">健身器材</a>
						<ul>
							<ul>
                               {% for cate in cates %}
                                   <li><a href="{% url 'goods:showall' cate.id %}">{{ cate.name }}</a></li>
                               {% endfor %}
                           </ul>
						</ul>
					</li>
					<li><a href="{% url 'show:articles' %}">文章</a>
                           <ul>
                               {% for title in essaies %}
                                   {% if title.id <= 4 %}
                                       <li><a href="{% url 'show:content' title.id %}">{{ title.title }}</a></li>
                                   {% endif %}
                               {% endfor %}
                           </ul>
                       </li>
					<li><a href="{% url 'show:classes' %}">课程</a>
                            <ul>
                                {% for c in all_class %}
                                    {% if c.id <= 4 %}
                                        <li><a href="{% url 'show:classdetail' c.id %}">{{ c.name }}</a> </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </li>
						<li><a>我的</a>
                           <ul>
                               <li><a>我的</a>
                            <ul>
                                <li><a {% if request.session.user_login %}
                                    href="{% url 'cart:go_cart' %}"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>购物车</a></li>
                                <li><a {% if request.session.user_login %}
                                    href="/user/address/{{ request.session.user_login }}/"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>我的收货地址</a></li>
                                <li><a {% if request.session.user_login %}
                                    href="{% url 'order:test' %}"
                                {% else %}
                                    href="{% url 'user:login' %}"
                                {% endif %}>我的订单</a></li>
                            </ul>
                        </li>
					</ul>
					<script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
			</div>
			<!-- end h_menu4 -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="content">

		<div class="dreamcrub" style="margin-bottom: 0px">
		<div class="container">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page"><img src="{% static 'images/home.png' %}" alt=""/></a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li style="font-size: 2rem">
                       添加收货地址
                    </li>
                </ul>
                <ul class="previous">
                	<li style="font-size: 2rem"><a href="index.html">回到首页</a></li>
                </ul>
{#                <div class="clearfix"></div>#}
			   </div>
			   </div>
			   <div class="container">
{#		<div class="main-register-form">#}
		  <div class="register" style="background-color: #f5e79e">
				 <div class="register-top-grid" >
					<h3 style="align-content: center;font-size: 4rem" align="center">请修改收货地址</h3>
                 </div>
                     <form method="post" action="/user/update/{{ request.session.user_login }}/{{ address.id }}/">
                        {% csrf_token %}
					 <div align="center">
						<span style="font-size:2rem;">收件人<label>*</label></span><br/>
						<input type="text" name="receiver" placeholder="收件人姓名" value="{{ address.receiver }}">
					 </div>
                        <br/><br/>
                     <div align="center">
                             <span>收货地址<label>*</label></span><br/>
                             <input type="text" name="addr" placeholder="填写详细地址" value="{{ address.addr }}">
                     </div>
                     <br/><br/>
                     <div align="center">
                             <span>邮政编码<label>*</label></span><br/>
                             <input type="text" name="code" placeholder="邮政编码" value="{{ address.code }}">
                     </div>
                     <br/><br/>
					 <div align="center">
						 <span>收件人电话<label>*</label></span><br/>
						 <input type="text" name="phone" placeholder="收件人电话" value="{{ address.phone }}">
					 </div>
                     <br/><br/>
				<div class="clearfix"> </div>
				<div class="register-but" align="center">
					   <input type="submit" value="修改">
					   <div class="clearfix"> </div>
                </div>
              </form>
            <h3 style="color: red">{{ errormsg }}</h3>
{#		   </div>#}
	    </div>
</div>
		</div>
	</div>
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 shop">
				<h3>shop</h3>
				<ul>
					<li><a href="#">new arrivals</a></li>
					<li><a href="#">men</a></li>
					<li><a href="#">accessories</a></li>
					<li><a href="#">kids</a></li>
					<li><a href="#">brands</a></li>
					<li><a href="#">trends</a></li>
					<li><a href="#">sale</a></li>
					<li><a href="#">style videos</a></li>
				</ul>
			</div>
			<div class="col-md-3 shop">
				<h3>help</h3>
				<ul>
					<li><a href="#">frequently asked questions</a></li>
					<li><a href="#">women</a></li>
					<li><a href="#">style videos</a></li>
					<li><a href="#">sale</a></li>
					<li><a href="#">trends</a></li>
					<li><a href="#">style videos</a></li>
				</ul>
			</div>
			<div class="col-md-3 shop">
				<h3>account</h3>
				<ul>
					<li><a href="#">my sports</a></li>
					<li><a href="#">my orders</a></li>
					<li><a href="#">my shopping bag</a></li>
					<li><a href="#">my wishlist</a></li>
				</ul>
			</div>
			<div class="col-md-3 shop">
				<h3>popular</h3>
				<ul>
					<li><a href="#">accessories</a></li>
					<li><a href="#">brands</a></li>
					<li><a href="#">frequently asked questions</a></li>
					<li><a href="#">style videos</a></li>
					<li><a href="#">women</a></li>
					<li><a href="#">my orders</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="copy-rights">
				<p>Copyright &copy; 2018.Three hours only . - For life , For health </p>
			</div>
		</div>
	</div>
	<!-- footer-section-ends -->
</body>
</html>